body{margin: 40px auto;
background-color: rgb(191, 155, 225);}


h1{text-align: center;
font-size: 30px;}

h2{font-size: 26px;}

footer{text-align: center;}

select{
 display: block;
 margin:0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
padding: 4px;
width: 100%;
border:2px solid #bfa3db;
border-radius: 2px;}


.container{margin: 20px auto;
    background-color: #faf6fd;
padding:24px;
border:solid 1px rgba(190, 195, 255, 0.365);
border-radius: 4px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
max-width: 600px;}

.date{font-size: 18px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

.time{font-size: 48px;
    font-weight: 800;
font-size:sans-serif;}